[submodule "www/vendor/bootstrap"]
	path = www/vendor/bootstrap
	url = git://github.com/twitter/bootstrap.git
[submodule "www/vendor/font-awesome"]
	path = www/vendor/font-awesome
	url = git://github.com/FortAwesome/Font-Awesome.git
