#center {
  margin-top: 40px;
  padding-left: 10px;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

#name {
  font-family: 'atrament-web','Helvetica',sans-serif;
  font-size: 22px;
  font-weight: normal;
  text-transform: uppercase;
  border-bottom: 3px solid #555;

  padding-bottom: 2px;
}

#right {
  margin-left: 100px;
}

.social-icon {
  padding-right: 2px;
  padding-left: 2px;
  border: none;
  display: inline-block;
}

#picture {
}

#social {
  margin-top: 25px;
  margin-left: 13px;
}

#location {
  margin-left: 30px;
}

#location-text {
  margin-left: 20px;
}

#email {
  margin-top: 15px;
}

#email-text {
  margin-left: 21px;
}

#bio {
  margin-top: 230px;
}
