#main {
    height: 100%;
}

#name-row {
  font-family: 'atrament-web','Helvetica',sans-serif;
  font-size: 22px;
  font-weight: normal;
  text-transform: lowercase;
  margin-bottom: 10px;
  border-bottom: 3px solid #555;
}

.contact-icon {
  padding-right: 2px;
  padding-left: 2px;
  border: none;
  display: inline-block;
}

#location-text {
  text-transform: lowercase;
  margin-left: 20px;
}

#gravatar {
  margin-left: auto;
  margin-right: auto;
}

#contact-list {
  margin-left: auto;
  margin-right: auto;
}

#bottom-row {
  margin-top: 24px;
}
